/* Global*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  letter-spacing: 1px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 64px;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
}

h2 {
  font-size: 56px;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-size: 48px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
}

h4 {
  font-size: 40px;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
}

h5 {
  font-size: 32px;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
}

h6 {
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
}

p {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
}

span {
  line-height: 1.2;
}

td {
  font-size: 18px;
}

a {
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
  color: white;
}

/* Body */
body {
  width: 100%;
  background-color: #000;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  color: white;
  letter-spacing: 1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Navbar */
.overlay {
  display: none;
}

.header__inside {
  margin: 25px 16.20% 0 16.61%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1280px;
}

@media only screen and (max-width: 1620px) {
  .header__inside {
    max-width: 990px;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item {
  margin-left: 50px;
  display: inline-block;
  padding-bottom: 5px;
  text-align: center;
}

.nav__item_1 {
  border-bottom: 4px solid #ff0076;
  width: 117px;
}

.nav__item_2 {
  border-bottom: 4px solid #ff9300;
  width: 123px;
}

.nav__item_3 {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #4003ca), color-stop(50%, #33ffd9));
  background-image: linear-gradient(90deg, #4003ca 50%, #33ffd9 50%);
  background-size: 100% 4px;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 158px;
  padding-bottom: 9px;
}

.nav__item_4 {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #FF8400), to(#FF0076));
  background-image: linear-gradient(to right, #FF8400 0, #FF0076 100%);
  background-size: 100% 4px;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 123px;
  padding-bottom: 9px;
}

.nav__item_5 {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #4003CA), to(#FF0076));
  background-image: linear-gradient(to right, #4003CA 0, #FF0076 100%);
  background-size: 100% 4px;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 158px;
  padding-bottom: 9px;
}

@media only screen and (max-width: 1268px) {
  .header__inside {
    margin-left: auto;
    margin-right: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-width: 329px;
    width: 55%;
    position: relative;
  }
  .nav__list {
    display: none;
  }
  .hamburger {
    display: inline-block;
    cursor: pointer;
  }
  .hamburger:after, .hamburger:before {
    content: none;
  }
  .hamburger__line1 {
    width: 68px;
    height: 10px;
    background-color: #FF0076;
  }
  .hamburger__line2 {
    width: 68px;
    height: 10px;
    background-color: #FF8400;
    margin-top: 8px;
  }
  .hamburger__line3 {
    width: 68px;
    height: 10px;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #4003ca), color-stop(50%, #33ffd9));
    background-image: linear-gradient(90deg, #4003ca 50%, #33ffd9 50%);
    margin-top: 8px;
  }
  .close-links {
    position: absolute;
    top: 2%;
    right: 3%;
    font-size: 50px;
    text-decoration: none;
    color: white;
    z-index: 100;
  }
  .overlay {
    display: block;
    position: fixed;
    height: 0;
    width: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    overflow-y: hidden;
    background-color: rgba(0, 0, 0, 0.96);
    -webkit-transition: .5s;
    transition: .5s;
  }
  .overlay-links {
    position: relative;
    top: 15%;
    width: 90%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .overlay-links a {
    margin: 20px;
    font-size: 28px;
  }
  .nav__item_1, .nav__item_2, .nav__item_3, .nav__item_4, .nav__item_5 {
    width: 60%;
    text-align: center;
  }
}

/* Home */
.home {
  width: 1321px;
  margin: 48px 16.20% 0 15%;
  height: 437px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media only screen and (max-width: 1620px) {
  .home {
    width: 1021px;
  }
}

@media only screen and (max-width: 1268px) {
  .home {
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 1171px) {
  .home {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 804px) {
  .home {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    min-width: 331px;
    width: 55%;
    min-height: 745px;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.linear-color {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  background: linear-gradient(124deg, #33ffd9 0%, #ff3364 20%, #83cd29 40%, white 60%, white 100%);
  -webkit-filter: blur(12px);
          filter: blur(12px);
  z-index: -1;
  opacity: 0.3;
}

@media only screen and (max-width: 804px) {
  .linear-color {
    background: -webkit-gradient(linear, left bottom, left top, from(#33ffd9), color-stop(20%, #ff3364), color-stop(40%, #83cd29), color-stop(60%, white), to(white));
    background: linear-gradient(to top, #33ffd9 0%, #ff3364 20%, #83cd29 40%, white 60%, white 100%);
    -webkit-filter: blur(12px);
            filter: blur(12px);
  }
}

.home__images, .home__words {
  width: 50%;
}

@media only screen and (max-width: 804px) {
  .home__images, .home__words {
    width: 100%;
  }
}

.home__images {
  height: 100%;
  /* White Tale */
  background-image: url("https://i.imgur.com/PB9AgYN.png");
  border-radius: 50px 0 0 50px;
}

@media only screen and (max-width: 804px) {
  .home__images {
    border-radius: 0 0 40px 40px;
    max-height: 442px;
    /* White Tale */
    background-image: url("https://i.imgur.com/PB9AgYN.png");
  }
}

.character {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

@media only screen and (max-width: 1620px) {
  .character img {
    max-width: 90%;
  }
}

@media only screen and (max-width: 804px) {
  .character {
    height: 100%;
    padding: 10px;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .character .frontendDeveloper {
    text-align: center;
  }
  .character .javaDeveloper {
    text-align: center;
  }
  .character .nodeDeveloper {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    text-align: center;
  }
  .character .nodeDeveloper img {
    width: 50%;
  }
}

.home__words {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0 40px 40px 0;
  height: 100%;
}

.home__words .circleTaleBig {
  position: absolute;
  top: 30px;
  right: 60px;
  z-index: -10;
}

@media only screen and (max-width: 1620px) {
  .home__words .circleTaleBig {
    width: 80%;
    top: 80px;
  }
}

@media only screen and (max-width: 1171px) {
  .home__words .circleTaleBig {
    width: 70%;
    top: 240px;
  }
}

@media only screen and (max-width: 804px) {
  .home__words .circleTaleBig {
    width: 100%;
    top: -20px;
    right: -10px;
  }
}

.home__words .circleGreenSmall {
  position: absolute;
  top: 230px;
  right: 5px;
  z-index: -10;
}

@media only screen and (max-width: 1620px) {
  .home__words .circleGreenSmall {
    width: 50%;
  }
}

@media only screen and (max-width: 1171px) {
  .home__words .circleGreenSmall {
    top: 310px;
  }
}

@media only screen and (max-width: 804px) {
  .home__words .circleGreenSmall {
    width: 80%;
    top: 100px;
    right: -50px;
  }
}

.home__words > hgroup {
  height: 100%;
  width: 100%;
  padding-left: 70px;
  padding-right: 5%;
  border-radius: 0 40px 40px 0;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 804px) {
  .home__words > hgroup {
    border-radius: 40px 40px 0 0;
  }
}

.home__words h3 {
  font-weight: 700;
}

/* Path */
.path {
  width: 1321px;
  margin: 65px 16.20% 0 15%;
}

.path hgroup h3 {
  color: #33FFD9;
  font-weight: 900;
}

.path hgroup p {
  margin-top: 16px;
  width: 577px;
  font-weight: 400;
}

.path .path_choose {
  margin-top: 32px;
  padding-bottom: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 360px 360px 360px;
      grid-template-columns: 360px 360px 360px;
  -webkit-column-gap: 80px;
          column-gap: 80px;
  overflow-x: scroll;
}

.path .path_choose .frontendPath, .path .path_choose .javaPath, .path .path_choose .nodePath {
  background-color: rgba(255, 255, 255, 0.3);
  height: 259px;
  border-radius: 40px;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
}

.path .path_choose .frontendPath hgroup, .path .path_choose .javaPath hgroup, .path .path_choose .nodePath hgroup {
  padding: 26px 39px 0 30px;
}

.path .path_choose .frontendPath hgroup h6, .path .path_choose .javaPath hgroup h6, .path .path_choose .nodePath hgroup h6 {
  color: #33FFD9;
  font-weight: 900;
  font-size: 24px;
}

.path .path_choose .frontendPath hgroup p, .path .path_choose .javaPath hgroup p, .path .path_choose .nodePath hgroup p {
  font-size: 15px;
  width: 262px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.6);
}

.path .path_choose .frontendPath .icon, .path .path_choose .javaPath .icon, .path .path_choose .nodePath .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 26px 0 0 30px;
}

.path .path_choose .frontendPath .icon img, .path .path_choose .javaPath .icon img, .path .path_choose .nodePath .icon img {
  margin-right: 24px;
}

.path .path_choose .frontendPath .button-icon, .path .path_choose .javaPath .button-icon, .path .path_choose .nodePath .button-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 26px;
}

.path .path_choose .frontendPath .button-icon button, .path .path_choose .javaPath .button-icon button, .path .path_choose .nodePath .button-icon button {
  width: 153px;
  height: 52px;
  margin-right: 10px;
  font-family: "Press Start 2P", cursive;
  font-size: 15px;
  outline: 0;
  border: none;
  cursor: pointer;
}

.path .path_choose .frontendPath .button-icon button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #33FFD9;
  color: #000;
}

.path .path_choose .javaPath .button-icon button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FF3364;
  color: #fff;
}

.path .path_choose .nodePath .button-icon button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #83CD29;
  color: #000;
}

.path .path_group {
  position: relative;
}

.path .path_group > img {
  width: 50%;
  bottom: 20px;
  right: -75px;
  position: absolute;
  z-index: -10;
}

.path .video {
  width: 1319px;
  height: 742px;
  background-color: #fff;
}

/* SingleCourses */
.singleCourses {
  margin: 65px 0 0 15%;
}

.singleCourses .singleCourses__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.singleCourses .singleCourses__top h3 {
  min-width: 300px;
  font-weight: 900;
  color: #33FFD9;
}

.singleCourses .singleCourses__top .line-singleCourses {
  border-top: 2px solid #33FFD9;
  position: relative;
  width: 100%;
  margin-left: 5%;
  top: 35px;
}

.singleCourses .singleCourses__inside {
  width: 1321px;
  margin: 16px 16.20% 0 0;
}

.singleCourses .singleCourses__inside > p {
  font-weight: 400;
}

.singleCourses .singleCourses__inside .singleCourses__choose {
  margin-top: 32px;
  padding-left: 10px;
  padding-bottom: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 247px 247px 247px 247px 247px;
      grid-template-columns: 247px 247px 247px 247px 247px;
  -webkit-column-gap: 16px;
          column-gap: 16px;
  overflow-x: scroll;
}

.singleCourses .singleCourses__inside .singleCourses__choose .singleCourses__group {
  position: relative;
}

.singleCourses .singleCourses__inside .singleCourses__choose .singleCourses__group .cssCourse, .singleCourses .singleCourses__inside .singleCourses__choose .singleCourses__group .javascript, .singleCourses .singleCourses__inside .singleCourses__choose .singleCourses__group .react, .singleCourses .singleCourses__inside .singleCourses__choose .singleCourses__group .reactNative {
  background-color: rgba(255, 255, 255, 0.3);
  height: 160px;
  border-radius: 16px;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
}

.singleCourses .singleCourses__inside .singleCourses__choose .singleCourses__group .cssCourse hgroup, .singleCourses .singleCourses__inside .singleCourses__choose .singleCourses__group .javascript hgroup, .singleCourses .singleCourses__inside .singleCourses__choose .singleCourses__group .react hgroup, .singleCourses .singleCourses__inside .singleCourses__choose .singleCourses__group .reactNative hgroup {
  padding: 27px 32px 0 32px;
}

.singleCourses .singleCourses__inside .singleCourses__choose .singleCourses__group .cssCourse hgroup h6, .singleCourses .singleCourses__inside .singleCourses__choose .singleCourses__group .javascript hgroup h6, .singleCourses .singleCourses__inside .singleCourses__choose .singleCourses__group .react hgroup h6, .singleCourses .singleCourses__inside .singleCourses__choose .singleCourses__group .reactNative hgroup h6 {
  font-weight: 500;
}

.singleCourses .singleCourses__inside .singleCourses__choose .singleCourses__group .cssCourse hgroup p, .singleCourses .singleCourses__inside .singleCourses__choose .singleCourses__group .javascript hgroup p, .singleCourses .singleCourses__inside .singleCourses__choose .singleCourses__group .react hgroup p, .singleCourses .singleCourses__inside .singleCourses__choose .singleCourses__group .reactNative hgroup p {
  margin-top: 8px;
  font-weight: 500;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}

.singleCourses .singleCourses__inside .singleCourses__choose .singleCourses__group .cssCourse .icon, .singleCourses .singleCourses__inside .singleCourses__choose .singleCourses__group .javascript .icon, .singleCourses .singleCourses__inside .singleCourses__choose .singleCourses__group .react .icon, .singleCourses .singleCourses__inside .singleCourses__choose .singleCourses__group .reactNative .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-right: 20px;
}

.singleCourses .singleCourses__inside .singleCourses__choose .singleCourses__group .cssCourse .icon img, .singleCourses .singleCourses__inside .singleCourses__choose .singleCourses__group .javascript .icon img, .singleCourses .singleCourses__inside .singleCourses__choose .singleCourses__group .react .icon img, .singleCourses .singleCourses__inside .singleCourses__choose .singleCourses__group .reactNative .icon img {
  margin-right: 5px;
}

.singleCourses .singleCourses__inside .singleCourses__choose .singleCourses__group .cssCourse hgroup h6 {
  color: #33A9DC;
}

.singleCourses .singleCourses__inside .singleCourses__choose .singleCourses__group .javascript hgroup h6 {
  color: #F7DF1E;
}

.singleCourses .singleCourses__inside .singleCourses__choose .singleCourses__group .react hgroup h6 {
  color: #00D8FF;
}

.singleCourses .singleCourses__inside .singleCourses__choose .singleCourses__group .reactNative hgroup h6 {
  color: #4003CA;
}

.singleCourses .singleCourses__inside .singleCourses__choose .singleCourses__group > img {
  bottom: -50px;
  left: 20px;
  position: absolute;
  z-index: -10;
}

.singleCourses .singleCourses__inside .singleCourses__choose .singleCourses__group .cssImage {
  bottom: -40px;
  left: -40px;
  position: absolute;
  z-index: -10;
}

/* FreeCourses */
.freeCourses {
  margin: 65px 0 0 15%;
}

.freeCourses .freeCourses__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.freeCourses .freeCourses__top h3 {
  min-width: 300px;
  font-weight: 900;
  color: #4003CA;
}

.freeCourses .freeCourses__top .line-freeCourses {
  border-top: 2px solid #4003CA;
  position: relative;
  width: 100%;
  margin-left: 5%;
  top: 35px;
}

.freeCourses .freeCourses__inside {
  width: 1321px;
  margin: 16px 16.20% 0 0;
}

.freeCourses .freeCourses__inside > p {
  font-weight: 400;
}

.freeCourses .freeCourses__inside .freeCourses__choose {
  margin-top: 32px;
  padding-left: 10px;
  padding-bottom: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 247px 247px 247px 247px 247px;
      grid-template-columns: 247px 247px 247px 247px 247px;
  -webkit-column-gap: 16px;
          column-gap: 16px;
  overflow-x: scroll;
}

.freeCourses .freeCourses__inside .freeCourses__choose .freeCourses__group {
  position: relative;
}

.freeCourses .freeCourses__inside .freeCourses__choose .freeCourses__group .htmlCssFree, .freeCourses .freeCourses__inside .freeCourses__choose .freeCourses__group .javascriptFree, .freeCourses .freeCourses__inside .freeCourses__choose .freeCourses__group .reactFree, .freeCourses .freeCourses__inside .freeCourses__choose .freeCourses__group .reactNativeFree, .freeCourses .freeCourses__inside .freeCourses__choose .freeCourses__group .gitFree {
  background-color: rgba(255, 255, 255, 0.3);
  height: 160px;
  border-radius: 16px;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
}

.freeCourses .freeCourses__inside .freeCourses__choose .freeCourses__group .htmlCssFree hgroup, .freeCourses .freeCourses__inside .freeCourses__choose .freeCourses__group .javascriptFree hgroup, .freeCourses .freeCourses__inside .freeCourses__choose .freeCourses__group .reactFree hgroup, .freeCourses .freeCourses__inside .freeCourses__choose .freeCourses__group .reactNativeFree hgroup, .freeCourses .freeCourses__inside .freeCourses__choose .freeCourses__group .gitFree hgroup {
  padding: 27px 32px 0 32px;
}

.freeCourses .freeCourses__inside .freeCourses__choose .freeCourses__group .htmlCssFree hgroup h6, .freeCourses .freeCourses__inside .freeCourses__choose .freeCourses__group .javascriptFree hgroup h6, .freeCourses .freeCourses__inside .freeCourses__choose .freeCourses__group .reactFree hgroup h6, .freeCourses .freeCourses__inside .freeCourses__choose .freeCourses__group .reactNativeFree hgroup h6, .freeCourses .freeCourses__inside .freeCourses__choose .freeCourses__group .gitFree hgroup h6 {
  font-weight: 500;
}

.freeCourses .freeCourses__inside .freeCourses__choose .freeCourses__group .htmlCssFree hgroup p, .freeCourses .freeCourses__inside .freeCourses__choose .freeCourses__group .javascriptFree hgroup p, .freeCourses .freeCourses__inside .freeCourses__choose .freeCourses__group .reactFree hgroup p, .freeCourses .freeCourses__inside .freeCourses__choose .freeCourses__group .reactNativeFree hgroup p, .freeCourses .freeCourses__inside .freeCourses__choose .freeCourses__group .gitFree hgroup p {
  margin-top: 8px;
  font-weight: 500;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}

.freeCourses .freeCourses__inside .freeCourses__choose .freeCourses__group .htmlCssFree .icon, .freeCourses .freeCourses__inside .freeCourses__choose .freeCourses__group .javascriptFree .icon, .freeCourses .freeCourses__inside .freeCourses__choose .freeCourses__group .reactFree .icon, .freeCourses .freeCourses__inside .freeCourses__choose .freeCourses__group .reactNativeFree .icon, .freeCourses .freeCourses__inside .freeCourses__choose .freeCourses__group .gitFree .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 20px;
  position: absolute;
  right: 0;
  bottom: 23px;
}

.freeCourses .freeCourses__inside .freeCourses__choose .freeCourses__group .htmlCssFree .icon img, .freeCourses .freeCourses__inside .freeCourses__choose .freeCourses__group .javascriptFree .icon img, .freeCourses .freeCourses__inside .freeCourses__choose .freeCourses__group .reactFree .icon img, .freeCourses .freeCourses__inside .freeCourses__choose .freeCourses__group .reactNativeFree .icon img, .freeCourses .freeCourses__inside .freeCourses__choose .freeCourses__group .gitFree .icon img {
  margin-right: 5px;
}

.freeCourses .freeCourses__inside .freeCourses__choose .freeCourses__group .cssCourse hgroup h6 {
  color: #33A9DC;
}

.freeCourses .freeCourses__inside .freeCourses__choose .freeCourses__group .javascript hgroup h6 {
  color: #F7DF1E;
}

.freeCourses .freeCourses__inside .freeCourses__choose .freeCourses__group .react hgroup h6 {
  color: #00D8FF;
}

.freeCourses .freeCourses__inside .freeCourses__choose .freeCourses__group .reactNative hgroup h6 {
  color: #4003CA;
}

.freeCourses .freeCourses__inside .freeCourses__choose .freeCourses__group > img {
  bottom: -50px;
  left: 20px;
  position: absolute;
  z-index: -10;
}

.freeCourses .freeCourses__inside .freeCourses__choose .freeCourses__group .htmlImage {
  bottom: -40px;
  left: -40px;
  position: absolute;
  z-index: -9;
}

/* Information */
.information {
  margin: 80px 0 0 15%;
}

@media only screen and (max-width: 1366px) {
  .information {
    margin-left: 5%;
  }
}

.information__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 804px) {
  .information__top {
    margin-left: 5%;
  }
}

.information__top h2 {
  color: #FF8400;
  font-weight: 900;
  min-width: 580px;
}

@media only screen and (max-width: 804px) {
  .information__top h2 {
    font-size: 36px;
    min-width: 200px;
  }
}

.information__top .line-information {
  border-top: 2px solid #FF8400;
  position: relative;
  width: 100%;
  margin-left: 5%;
  top: 35px;
}

.information__inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  min-height: 474px;
  height: 100%;
  margin-top: 64px;
  width: 1315px;
}

@media only screen and (max-width: 1620px) {
  .information__inside {
    width: 1200px;
  }
}

@media only screen and (max-width: 1268px) {
  .information__inside {
    width: 1100px;
    margin-left: 200px;
  }
}

@media only screen and (max-width: 1171px) {
  .information__inside {
    width: 700px;
    margin-left: 50px;
  }
}

@media only screen and (max-width: 804px) {
  .information__inside {
    min-width: 329px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.information__inside .information__singleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 567px;
}

@media only screen and (max-width: 1268px) {
  .information__inside .information__singleContainer {
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 804px) {
  .information__inside .information__singleContainer {
    min-width: 329px;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
  }
}

.information__inside .information__singleContainer img {
  width: 200px;
  height: 200px;
  margin-right: 64px;
}

@media only screen and (max-width: 1620px) {
  .information__inside .information__singleContainer img {
    margin-right: 10px;
  }
}

@media only screen and (max-width: 804px) {
  .information__inside .information__singleContainer img {
    margin-top: 40px;
    margin-bottom: 20px;
  }
}

.information__inside .information__singleContainer > div {
  width: 100%;
}

@media only screen and (max-width: 804px) {
  .information__inside .information__singleContainer p {
    font-size: 15px;
  }
}

.information__inside .information__singleContainer .information__singleContainer_h6Mobile {
  display: none;
}

@media only screen and (max-width: 804px) {
  .information__inside .information__singleContainer .information__singleContainer_h6Mobile {
    display: block;
    font-size: 24px;
  }
}

.information__inside .information__singleContainer h6 {
  color: #FF8400;
}

@media only screen and (max-width: 804px) {
  .information__inside .information__singleContainer .information__singleContainer__inside {
    width: 100%;
  }
}

.information__inside .information__singleContainer .information__singleContainer__inside .information__singleContainer_h6Desktop {
  display: block;
}

@media only screen and (max-width: 804px) {
  .information__inside .information__singleContainer .information__singleContainer__inside .information__singleContainer_h6Desktop {
    display: none;
  }
}

.information__singleContainer_h6Mobile {
  display: none;
}

@media only screen and (max-width: 804px) {
  .information__singleContainer_h6Mobile {
    display: block;
    font-size: 24px;
  }
}

/* Footer */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 338px;
  background-color: #4003CA;
  font-weight: 700;
  margin-top: 200px;
}

@media only screen and (max-width: 1620px) {
  .footer {
    margin-top: 100px;
  }
}

@media only screen and (max-width: 804px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 329px;
    width: 100%;
    margin: 150px auto 0;
  }
}

.footer__left {
  background-color: #33FFD9;
  width: 45%;
  font-size: 16px;
}

@media only screen and (max-width: 1171px) {
  .footer__left {
    width: 50%;
  }
}

@media only screen and (max-width: 804px) {
  .footer__left {
    min-height: 306px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: 329px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.footer__right {
  background-color: #4003CA;
  width: 55%;
}

@media only screen and (max-width: 1171px) {
  .footer__right {
    width: 50%;
  }
}

@media only screen and (max-width: 804px) {
  .footer__right {
    min-height: 306px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: 329px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Footer TextLeft */
.footer__textLeft {
  margin: 65px 0 0 20%;
  width: 374px;
}

@media only screen and (max-width: 1171px) {
  .footer__textLeft {
    margin-left: 5%;
  }
}

.footer__textLeft h6 {
  margin-bottom: 20px;
  color: #4003CA;
  font-weight: 700;
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.footer__textLeft hgroup p {
  color: #4003CA;
}

.footer__textLeft hgroup p:first-child {
  font-weight: 700;
}

.footer__icons img {
  max-width: 30%;
}

.policy {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 337px;
}

@media only screen and (max-width: 804px) {
  .policy {
    width: 90%;
  }
}

.policy a, .policy p {
  color: #2000B4;
  font-weight: 300;
}

@media only screen and (max-width: 804px) {
  .policy a, .policy p {
    font-size: 13px;
  }
}

/* Footer TextRight */
.footer__textRight {
  position: relative;
  margin: 65px 0 0 20%;
  width: 530px;
  height: 200px;
}

@media only screen and (max-width: 1268px) {
  .footer__textRight {
    width: 500px;
  }
}

@media only screen and (max-width: 1171px) {
  .footer__textRight {
    margin-left: 5%;
    width: 350px;
  }
}

.footer__textRight h6 {
  color: #33FFD9;
  width: 500px;
  font-weight: 900;
}

@media only screen and (max-width: 1171px) {
  .footer__textRight h6 {
    width: 100%;
  }
}

.we-icon {
  position: absolute;
  right: 0;
  bottom: 0;
}
/*# sourceMappingURL=style.css.map */